{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the News Highlights Website </title>
        {% endif %}
    </head>
    <body>
        <!-- Business article -->
        <h3> Business Articles</h3>
        <ul>
            {{ macro.displayArticleList(business)}}
        </ul>
        <!-- Sports article  -->
        <h3> Sports Articles </h3>
        <ul>
            {{ macro.displayArticleList(sports)}}
        </ul>
        <!-- Technology article -->
        <h3>Technology articles</h3>
        <ul>
            {{ macro.displayArticleList(technology)}}
        </ul>

    </body>
</html>
