{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the News Highlights Website </title>
        {% endif %}
    </head>
    <body>
    {% block content %}
        <!-- Business article -->
<h3> Business Articles</h3>
<ul>  {% for business_article in business_articles %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 article-card">
            <!-- <img src="{{ business_article.poster }}" alt="{{ business_article.title }} poster" class="img-responsive"> -->
            <li class="text-center">
                <a href="/article/{{business_article.id}}">
                    {{ business_article.name|truncate(10)}}</a>
            </li>
        </div>
        {%endfor%}
</ul>


<!-- Sports article -->
<h3> Sports Articles</h3>
<ul>  {% for sports_article in sports_articles %}
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 article-card">
    <!-- <img src="{{ sports_article.poster }}" alt="{{ sports_article.title }} poster" class="img-responsive"> -->
    <li class="text-center">
        <a href="/article/{{sports_article.id}}">
            {{ sports_article.name|truncate(10)}}</a>
    </li>
</div>
{%endfor%}
</ul>


<!-- Technology article -->
<h3> Technology Articles</h3>
<ul>  {% for technology_article in technology_articles %}
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 article-card">
    <!-- <img src="{{ technology_article.poster }}" alt="{{ technology_article.title }} poster" class="img-responsive"> -->
    <li class="text-center">
        <a href="/article/{{technology_article.id}}">
            {{ technology_article.name|truncate(10)}}</a>
    </li>
</div>
{%endfor%}

</ul>
    {%endblock%}
    </body>
</html>
